{% extends "pastdata_template.html"  %}

{% load staticfiles  %}

{% block title %}Realtime{% endblock %}

{% block pre-loaded %}

    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/flot/jquery.flot.js" %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="{% static "js/graphs.js" %}"></script>


    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation/foundation.js" %}"></script>
    <script src="{% static "js/foundation/foundation.slider.js" %}"></script>
    <script>
    $(document).foundation();
    </script>
{% endblock %}

    {% block side-nav-bar%}
        <ul class="nav navbar-nav side-nav">
        <li class="dropdown">
          <a href="#"><i class="fa fa-caret-square-o-down"></i> Power Generation <b class="caret"></b></a>
          <ul>
            <li><a href="#">Turbine Power</a></li>
            <li><a href="#">Photovoltaic Power</a></li>
            <li><a href="#">Biomass Power</a></li>
            <li><a href="#">Hydrogen Power</a></li>
            <li><a href="#">Thermal Power</a></li>
            <li><a href="#">Other Power</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><i class="fa fa-caret-square-o-down"></i> Power Transmition <b class="caret"></b></a>
          <ul>
            <li><a href="#">Electrical Power</a></li>
            <li><a href="#">Mechanical Power</a></li>
            <li><a href="#">Chemical Power</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"><i class="fa fa-caret-square-o-down"></i> Power Storage <b class="caret"></b></a>
          <ul>
            <li><a href="#">Chemical Storage</a></li>
            <li><a href="#">Mechanical Storage</a></li>
            <li><a href="#">Thermal Storage</a></li>
            <li><a href="#">Other Storage</a></li>
          </ul>
        </li>

      </ul>
    {% endblock %}

{% block page-wrapper %}
<div id="page-wrapper">

     <div class="row">
        <div class="col-lg-12">
            <h1>{{site.sitename|capfirst}}</h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Updated: {% now "jS F Y H:i" %}</a></li>
            </ol>
        </div>
     </div><!-- /.row -->

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#solar" data-toggle="tab">Photovoltaic</a></li>
      <li><a href="#turbine" data-toggle="tab">Wind Turbines</a></li>
      <li><a href="#turbine" data-toggle="tab">Windmill</a></li>
      <li><a href="#thermal" data-toggle="tab">Steam Turbine</a></li>
      <li><a href="#thermal" data-toggle="tab">Hydro-Electric</a></li>
      <li><a href="#thermal" data-toggle="tab">Hyrdo-Mechanic</a></li>
      <li><a href="#thermal" data-toggle="tab">Geothermal</a></li>
      <li><a href="#thermal" data-toggle="tab">Hydrogen</a></li>
      <li><a href="#thermal" data-toggle="tab">Pedal</a></li>
      <li><a href="#thermal" data-toggle="tab">Other</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="solar">
        {% block solar-content %}
        {% endblock %}
      </div>


      <div class="tab-pane" id="turbine">    
      {% block turbine-content%}
         <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Results Summary 
                       <label style="text-align: right"><input type="checkbox"> Metric</label>
                       <label style="text-align: right"><input type="checkbox"> Imperial</label>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-9"><h3>Community Specifications</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><p class="text-left"> Number of Households: <input style="width: 30px" placeholder="1"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-left"><input style="width: 30px; height: 20px;" placeholder="4"></input><math><sup> Light Bulbs</sup>&frasl;<sub>House</sub></math></p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-left" >X <input style="width: 30px; height:20px;" placeholder="30"></input><math><sup> 30kW</sup>&frasl;<sub>Light Bulb</sub></math></p>
                        </div>
                        <div class="col-md-4">
                           <p class="text-left">= <input style="width: 30px; height: 20px;"></input> kW
                           </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-left"><input style="width: 30px; height: 20px;" placeholder="4"></input><math><sup> Radio's</sup>&frasl;<sub>House</sub></math></p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-left" >X <input style="width: 30px; height:20px;" placeholder="30"></input><math><sup> 30kW</sup>&frasl;<sub>Radio</sub></math></p>
                        </div>
                        <div class="col-md-4">
                           <p class="text-left">= <input style="width: 30px; height: 20px;"></input> kW
                           </p>
                        </div>
                    </div>
                  
                     <div class="row">
                        <div class="col-md-4">
                            <p class="text-left"><input style="width: 30px; height: 20px;" placeholder="4"></input><math><sup> Cell Phones</sup>&frasl;<sub>House</sub></math></p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-left" >X <input style="width: 30px; height:20px;" placeholder="30"></input><math><sup> 30kW</sup>&frasl;<sub>Cell Phone</sub></math></p>
                        </div>
                        <div class="col-md-4">
                           <p class="text-left">= <input style="width: 30px; height: 20px;"></input> kW
                           </p>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="col-md-12">
                           <p class="text-left"><math><sup>Total Power</sup>&frasl;<sub>Household </sub></math><input style="width:30px;"></input><math> kW</math></p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6"><h3>Turbine Specifications</h3></div>
                        <div class="col-md-3"><h5>Optimize <input type="checkbox"></input></h5></div>
                        <div class="col-md-3"><h5>Customize <input type="checkbox"></input></h5></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><p class="text-left"> Number of Turbines: <input style="width: 30px" placeholder="1"></p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><input type="checkbox"></input> TurbineType A </div>
                        <div class="col-md-4"><input type="checkbox"></input> TurbineType B </div>
                        <div class="col-md-4"><input type="checkbox"></input> TurbineType C </div>
                        <div class="col-md-4"><input type="checkbox"></input> TurbineType C </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12"><p class="text-right">Blade Length, L: <input style="width: 30px; height:20px;"></input> m</p></div>
                    </div>
 
                    <div class="row">
                        <div class="col-md-12"><p class="text-right">Blade Diameter, D: <input style="width: 30px; height:20px;"></input> m</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                           <p class="text-right"> Turbine Efficiency: <math>&eta;<sub>turbine</sub></math> <input style="width:30px;"></input> %</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                           <p class="text-right"> Generator Efficiency: <math>&eta;<sub>generator</sub></math> <input style="width:30px;"></input> %</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                           <p class="text-right"> Total Efficiency: <math>&eta;<sub>total</sub></math> <input style="width:30px;"></input> %</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9"><h3>Data From Sensors</h3></div>
                    </div>
                        <div class="row"><div id="wind-speed-graph" style="height: 300px; width: 550px;"></div></div>
                        <div class="row"><div id="temperature-graph" style="height: 300px; width: 550px;"></div></div>
                        <div class="row"><div id="density-graph" style="height: 300px; width: 550px;"></div></div>

                    <div class="row">
                        <div class="col-md-9"><h3>Calculation Details</h3></div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6"><math>P<sub>available = &frac12; &eta; &rho;(t)Av(t)<sup>3</math></div>
                        <div class="col-md-6"><math> &frac12;(.20)(.6)<sup>kg</sup>&frasl;<sub>m<sup>3</sup></sub></math> = <input placeholder="23" style="width:30px;"></input> kW per day</div>
                    </div>
                </div> <!-- Panel Body -->
                </div> <!-- Panel Promary -->
              </div> <!-- COlumn -->
         <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Results Summary</h3>
                </div>
                <div class="panel-body" style="padding: 10px">
                    <h4>Power vs RPM</h4>
                <div id="power-rpm-graph" style="height: 200px; width: 200px;"></div>
            </div>
         </div>
        {% endblock %}


      </div>
      <div class="tab-pane" id="thermal">
        {% block thermal-content %}
        {% endblock %}
      </div>
    </div>
</div>
{% endblock %}
