{% extends "realtime_template.html"  %}
{% load static %}
{% load flot_tags %}

{% block title %}Past Data{% endblock %}

{% block pre-loaded %}
<!--Move this so it only loads in realtime template-->
     <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>i
    <script src="{% static "js/flot/jquery.flot.js" %}"></script>
{% endblock %}


{% block side-nav-bar  %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active"><a href="index.html"><i class="fa fa-fire"></i> Temperature</a></li>
    <li><a href="../historical/"><i class="fa fa-arrow-right"></i> Wind Speed and Direction</a></li>
    <li><a href="blank-page.html"><i class="fa fa-tint"></i> Rainfall</a></li>
    <li><a href="blank-page.html"><i class="fa fa-sun-o"></i> Solar Radiation</a></li>
    <li><a href="blank-page.html"><i class="fa fa-dashboard"></i> Air Pressure</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
{% endblock  %}

{% block extend-page %}
    <div class="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>{{site.sitename}}</h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Updated: {% now "jS F Y H:i" %}</a></li>
            </ol>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Temperature Data Over Time</h3>
              </div>
              <div class="panel-body" style="padding: 50px">
                <div class="flot-chart">
                <hr/>{% plot graph1 class="flot-chart-content" %} 
                 <div class="text-right"><a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <h2>Flot Charts</h2>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Line Graph Example with Tooltips</h3>
              </div>
              <div class="panel-body">
                <div class="flot-chart">
                  <div class="flot-chart-content" id="flot-chart-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Data Specs</h3>
              </div>
              <div class="panel-body">
                <ul>
                    <li>Data Type: {{data.dataType}}</li>
                    <li>Model Number: {{sensor.modelnumber}}</li>
                    <li>Collection Rate: {{sensor.data_rate}}</li>
                    <li>Collection Frequency: {{sensor.collection_freq}}</li>
                    <li>Read Time: {{sensor.read_time}}</li>
                    <li>Raw Data Link: {{sensor.dataType}}</li>
                </ul>
              </div>
            </div>
          </div>
         </div><!-- /.row -->

    </div>
{% endblock  %}

{% block page-wrapper %}
{% endblock  %}

{% block extra-javascript %}
       <!-- JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
      <script src="{% static "js/bootstrap.js" %}"></script>
<!-- Page Specific Plugins -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
        <script src="{% static "js/morris/chart-data-morris.js" %}"></script>
        <script src="{% static "js/tablesorter/jquery.tablesorter.js" %}"></script>
        <script src="{% static "js/tablesorter/tables.js" %}"></script>

        <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
        <script src="{% static "js/flot/jquery.flot.js" %}"></script>
        <script src="{% static "js/flot/jquery.flot.tooltip.min.js" %}"></script>
        <script src="{% static "js/flot/jquery.flot.resize.js" %}"></script>
        <script src="{% static "js/flot/jquery.flot.pie.js" %}"></script>
        <script src="{% static "js/flot/chart-data-flot.js" %}"></script>
{% endblock %}
