{% extends "weatherstationhome_template.html"  %}
{% load static %}

{% block title %}Realtime{% endblock %}

{% block top-nav-bar %}
<li><a href={% url 'collection_sites.views.realtime_template_display' site.sitename %}><i class="fa fa-dashboard"></i> Realtime Data</a></li>
<li><a href={% url 'collection_sites.views.pastdata_template_display' site.sitename %}><i class="fa fa-bar-chart-o"></i> Past Data</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit"></i> Analysis <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href={% url 'poweranalysis' site.sitename %}>Power Projects</a></li>
            <ul>
                <li><a href={% url 'poweranalysis' site.sitename %}>Power Storage</a></li>
                <li><a href={% url 'poweranalysis' site.sitename %}>Power Transmition</a></li>
                <li><a href={% url 'poweranalysis' site.sitename %}>Power Generation</a></li>
           </ul>
        <li><a href={% url 'sanitationanalysis' site.sitename %}>Sanitation Projects</a></li>
        <li><a href={% url 'agricultureanalysis' site.sitename %}>Agriculture Projects</a></li>
    </ul>
</li>
{% endblock %}

{% block side-nav-bar  %}
{% endblock %} 

<!--Include no map-->
{% block map %}
{% endblock %}

{% block page-wrapper %}
<div id="page-wrapper">

     <div class="row">
        <div class="col-lg-12">
            <h1>{{site.sitename}}</h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="fa fa-dashboard"></i> Updated: {% now "jS F Y H:i" %}</a></li>
            </ol>
        </div>
     </div><!-- /.row -->

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#temp" data-toggle="tab">Temperature</a></li>
      <li><a href="#pressure" data-toggle="tab">Pressure</a></li>
      <li><a href="#rainfall" data-toggle="tab">Rainfall</a></li>
      <li><a href="#solarrad" data-toggle="tab">Solar Radiation</a></li>
      <li><a href="#wind" data-toggle="tab">Wind</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="temp">
        {% block temperature-content %}
            <p>Some Realtime Temp Shit</p>
        {% endblock %}
      </div>
      <div class="tab-pane" id="pressure">
        {% block pressure-content%}
        {% endblock %}
      </div>
      <div class="tab-pane" id="rainfall">
        {% block rainfall-content %}
        {% endblock %}
      </div>
      <div class="tab-pane" id="solarrad">
        {% block solarrad-content %}
        {% endblock %}
      </div>
      <div class="tab-pane" id="wind">
        {% block wind-content %}
        {% endblock %}
      </div>
    </div>
</div>
{% endblock %}
