{% extends "weatherstationhome_template.html"  %}
{% load static %}

{% block title %}Realtime{% endblock %}

{% block pre-loaded %}
<!--Move this so it only loads in realtime template-->
     <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
{% endblock %}

{% block top-nav-bar %}
{% load lineage%}
<li class="{% ancestor '/realtime/' %}"><a href={% url 'collection_sites.views.realtime_template_display' site.sitename %}><i class="fa fa-dashboard"></i> Realtime Data</a></li>
<li class="{% ancestor '/pastdata/' %}"><a href={% url 'collection_sites.views.pastdata_template_display' site.sitename %}><i class="fa fa-bar-chart-o"></i> Past Data</a></li>
<li class="dropdown">
    <a href={% url 'solaranalysis' site.sitename %} class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit"></i> Analysis <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href={% url 'solaranalysis' site.sitename %}>Power Projects</a></li>
        <li><a href={% url 'windanalysis' site.sitename %}>Clean Water Projects</a></li>
    </ul>
</li>
{% endblock %}

{% block side-nav-bar  %}
{% endblock %} 

<!--Include no map-->
{% block map %}
{% endblock %}

{% block page-wrapper %}
    <div class="row">
                <script type='text/javascript'>
                $(window).load(function(){
                //Sample to create a thermometer
                var _ = { bulbRadius: 10 }
                $(function() {
                    var w = $('#demo').width();
                    var h = $('#demo').height();

                    $('#demo').thermometer({
                        w: w,
                        h: h,
                        color: {
                            label: 'rgba(255, 255, 255, 1)',
                            tickLabel: 'rgba(255, 0, 0, 0.4)'
                        },
                        centerTicks: false,
                        majorTicks: 5,
                        minorTicks: 2,
                        max: 100,
                        min:0,
                        scaleTickLabelText: 1.15,
                        scaleLabelText: 0.9,
                        scaleTickWidth: 1.5,
                        unitsLabel: "C"
                    });
                    $('#demo').thermometer('setValue','60');
                });
                });
                </script>
                <div>
                    <canvas id="demo" height="350" width="300"></canvas>
                    <img src="{% static "images/sun.png" %}" height="200" width="200">
                    <img src="{% static "images/solar-collector.png" %}" height="300" width="200">
                </div>
    </div><!-- /.row -->
 
{% endblock %}

{% block extra-javascript %}
     <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

    <script src="{% static "js/jquery.thermometer.js" %}"></script>
    <script src="{% static "js/thermometer.js" %}"></script>

{% endblock %}
